/* -------------------- General Styles -------------------- */

body {
    background-color: #1b2838;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.dark-bg {
    background-color: #0c1620;
}

.aside-text {
    color: #969696;
}

.center {
    text-align: center;
}

.heading,
.sub-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #ffc107;
}

.sub-heading {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

footer a {
    color: #969696;
    text-decoration: none;
}

/* -------------------- Homepage -------------------- */


input[type='text'],
input[type='textarea'] {
    display: block;
    width: 100%;
}

.help-icon {
    color: #FFFFFF;    
}

.modal-header, .modal-footer {
    border: none;
}

.modal-content {
    background-color: #1b2838;
}


/* -------------------- Contact -------------------- */

form input {
    margin: 5px 0 20px 0;
}

form input[type='textarea'] {
    min-height: 12vh;
}


/* -------------------- Game -------------------- */

.card {
    border: solid 1px white;
    width: 40%;
    min-height: 60%;
    margin: 10px;
    padding: 10px;
}

.card-body {
    color: #1b2838;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.card-img-top {
    object-fit: cover;
}