/* -------------------- General Styles -------------------- */

body {
    background-color: #1b2838;
    color: #FFFFFF;
}

.dark-bg {
    background-color: #0c1620;
}

.aside-text {
    color: #969696;
}

.center {
    text-align: center;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #ffc107;
}


/* -------------------- Homepage -------------------- */


input[type='text'], input[type='textarea'] {
    display: block;
    width: 100%;
}


/* -------------------- Contact -------------------- */

form input {
    margin: 5px 0 20px 0;
}

form input[type='textarea'] {
    min-height: 12vh;
}