/* -------------------- General Styles -------------------- */

.center {
    text-align: center;
}

.heading {
    text-align: center;
    text-transform: uppercase;
}


/* -------------------- Homepage -------------------- */


input[type='text'], input[type='textarea'] {
    display: block;
    width: 100%;
}


/* -------------------- Contact -------------------- */

form input {
    margin: 5px 0 20px 0;
}

form input[type='textarea'] {
    min-height: 12vh;
}